.gallery img{
    width: 100%;
}

h1{
    font-family: Impact, fantasy;
    text-align: center;
    font-size: 30px;
    color: cornflowerblue;
    font-style: italic;
}

h1{
    font-family: Impact, fantasy;
    font-size: 20px;
    font-style: italic;
    color: cornflowerblue;
}

p{
    font-family: Helvetica, sans-serif;
}
  
#menu{
    width: 100%;
    height: 40px;
    background-color: cornflowerblue;
    padding-top: 12px;
}

#menu a{
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 800;
    padding-left: 20px;
    padding-right: 20px;
}

#menu a:hover{
    color: #5077bd;
}

p{
    table: border-collapse: collapse;
    collapse; border: 1px solid ;
}

td{
    border: 1px solid ;
}
